* {
  box-sizing: border-box;
}
body {
  background: #031e11;
  margin: 0;
  color: #1FC;
  font-family: 'Monaco', monospace;
  font-size: 24px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: uppercase;
}
h3 {
  margin-top: 0;
}
p {
  margin-bottom: 2rem;
}
a,
a:visited {
  border-bottom: 0.2rem solid #1FC;
  color: #1FC;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  background: #1FC;
  color: #031e11;
}
ul {
  margin: 0;
}

li {
  list-style-type: none;
}

.logo {
  background: #1FC;
  color: #031e11;
}

.output {
  padding: 3rem 2rem;
  pointer-events: auto;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
}

.scanlines {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
  background-size: 100% 0.3rem;
  position: fixed;
  pointer-events: none;
}

::selection {
  background: #1FC;
  color: #031e11;
}
