input {
    font-family: 'Monaco', monospace;
}

.container {
    margin-left: 20px;
}

.container p {
    margin: 10px 0;
}

.terminal {
    color: #FFF;
    width: 100%;
    font-size: 18px;
}

.terminal--input-wrapper {
    position: relative;
}

.terminal--input-wrapper::before {
    content: ">";
    color: #1FC;
    font-size: 18px;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 16px;
    height: 24px;
}

.terminal--map {
    white-space: pre;
    position: relative;
}

.terminal--map-legend {
    position: absolute;
    bottom: 0;
    left: 240px;
}

.terminal--map-legend-top {
    position: absolute;
    top: 10px;
    left: 240px;
}

.terminal--input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 18px;
    margin-left: 22px;
    width: 95%;
    height: 24px;
}

/* Util classes */
.uppercase {
    text-transform: uppercase;
}

.color-green {
    color: #1FC;
}

.color-springgreen {
    color: #00FF7F;
}

.color-red {
    color: #FF0000;
}

.pad-lft--md {
    padding-left: 36px;
}

.pad-lft--lg {
    padding-left: 60px;
}

.mar-ver--sm {
    margin-top: 4px;
    margin-bottom: 4px;
}

.wide {
    max-width: 600px;
}
